@using GamerSchool.Common
@model GamerSchool.Web.ViewModels.GameCourse.GameCourseViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                <h4 class="wrap-words ">
                        <strong class="wrap-words"> @Model.Title </strong>
                </h4>
            </div>
            <div class="col-md-3 text-right">
                <div class="col-md-4">
                    <button Text="Go back"
                            OnClick="JavaScript:window.history.back(1); return false;"
                            class="btn btn-md btn-default">
                        &lt; &nbsp;
                    </button>
                </div>
                @if (Request.IsAuthenticated && (User.IsInRole(ApplicationRoles.Admin) || User.IsInRole(ApplicationRoles.Trainer)))
                {
                    <div class="col-md-4">
                        <a href="/Users/Course/Edit/@Model.Id" class="btn btn-md btn-primary">Edit</a>
                    </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm("Destroy", "GameCourse", new { area = "Users", id = Model.Id }, FormMethod.Post, new { @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="X" class="btn btn-danger"/>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                  @Html.Raw(Model.Description)
                </blockquote>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="com-md-12">
                @foreach (var img in Model.Images)
                {
                    <div class="col-md-3">
                        @Html.DisplayFor(x => img, DisplayTemplatesPaths.ImageViewModel)

                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="com-md-12 ">
                <div class="col-md-8">
                    <span>Starts: </span>
                    <span>
                        @Html.DisplayFor(model => Model.StartDate)
                    </span>

                    <span>Ends: </span>
                    <span>
                        @Html.DisplayFor(model => Model.EndDate)
                    </span>
                </div>
                <div class="col-md-2">
                    <span>
                        <i class="fa fa-users"></i>@Model.Students.Count()
                    </span>
                </div>
                <div class="col-md-2  text-right">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>
                        @Model.LikesCount
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

