@model GamerSchool.Web.ViewModels.Lesson.LessonViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h5 class="wrap-words ">
                    <a href="/Shop/Details/@Model.Id">
                        <strong class="wrap-words"> @Model.Title </strong>
                    </a>
                </h5>
            </div>
            <div class="col-md-4 text-right">
                @if (Request.IsAuthenticated && User.Identity.GetUserId() == Model.TrainerId)
                {
                    <div class="col-md-8">
                        <a href="/Users/Lesson/Edit/@Model.Id" class="btn btn-md btn-primary">Edit</a>
                    </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm("Destroy", "Lesson", new { area = "Users", id = Model.Id }, FormMethod.Post, new { @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="X" class="btn btn-danger" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="panel-body wrap-words article-preview-body">
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.SanitizedDescription)
            </div>
        </div>
    </div>

    <div class="panel-body wrap-words article-preview-body article-preview-image">
        <div class="row">
            <div class="com-md-12 ">
                @*@foreach (var img in Model.Images)
                {
                    <div class="col-md-2">
                        @Html.DisplayFor(x => img, DisplayTemplatesPaths.ImageViewModel)
                    </div>
                }*@
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="com-md-12 ">
                <div class="col-md-6">
                    <span>
                        @Html.DisplayFor(model => Model.CreatedOn)
                    </span>
                    <a href="/Users/Profile/UserName/@Model.TrainerName">
                        <span>@Model.TrainerName</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <span>
                        <i class="fa fa-money"></i>
                    </span>
                </div>
                <div class="col-md-3  text-right">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>
                     
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
